body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
h1 {
  margin-left: 1em;
}

input,
textarea {
  padding: 0.5em;
  margin: 0.25em;
  min-width: 17em;
  font-family: inherit;
  border-radius: 0.25em;
  border: thin solid mediumseagreen;
}

label {
  padding: 0.5em;
  margin: 0.25em;
}

button {
  padding: 0.5em 2em;
  margin: 0.25em;
  border: thin solid mediumseagreen;
  border-radius: 0.25em;
  background-color: mediumseagreen;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  height: 2em;
  min-width: 11em;
}

button:hover,
button:focus {
  background-color: seagreen;
}

button:disabled {
  background-color: transparent;
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.label-input-wrapper,
.list-btn-wrapper {
  display: flex;
}

@media (max-width: 480px) {
  .label-input-wrapper,
  .list-btn-wrapper {
    flex-direction: column;
  }
}
